<header class="h-12 bg-blue-500 text-white sticky top-0">
  <ul class="flex flex-row justify-end gap-7 p-5 pb-0">
    <% if user_signed_in? %>
      <li><%= link_to "Categories", categories_path %></li>
      <li><%= button_to( "Log Out", destroy_user_session_path, method: :delete ) %></li>
    <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Log In", user_session_path %></li>
    <% end %>
  </ul>
</header>
