<div class="flex justify-center my-3">
  <h1 class="text-4xl p-5"> Welcome to the Expense tracker application! </h1>
</div>

<div class="w-2/3 mx-auto">
  <p class="text-justify"> The Expense Tracker Application is a digital tool designed to help individuals or businesses manage their financial transactions and monitor their spending habits. This app enables users to record and categorize their expenses, track income sources, and generate visual reports for better financial insights. Users can input various types of transactions, such as purchases, bills and income into the app. With its user-friendly interface, the Expense Tracker Application aims to assist users in keeping track of their money and maintaining a clear overview of their financial health. </p>

  <div class="text-xl py-5">
    Please <%= link_to "Sign Up", new_user_registration_path, class:'hover:text-violet-600' %> or <%= link_to "Log In", user_session_path, class:'hover:text-blue-500' %> to continue
  </div>
</div>


