<div class="flex flex-col w-4/6 p-5 mx-auto">
  <div class="flex flex-col justify-between">
    <% if !@items.blank? %>
      <h1 class="text-center text-2xl"> EXPENSES </h1>
        <% @items.each do |item| %>
          <ul class="flex bg-white justify-between gap-7 p-5 mt-7">
            <li>
              <%= item.name %>
            </li>
            <li>
              <%= item.amount %>
            </li>
          </ul>
        <% end %>
    <% else %>
      <h1 class="text-center"> You have no expenses yet </h1>
    <% end %>
  </div>

  <div class="flex justify-end my-4">
    <%= link_to new_item_path do %>
      <i class="fa-solid fa-circle-plus text-emerald-700 hover:text-blue-500 text-7xl" aria-hidden="true"></i>
    <% end %>
  </div>

</div>
