<div class="flex flex-col align-center justify-center">
  <div>
    <% if !@items.blank? %>
      <h1> Your Items </h1>
      <ul>
        <% @items.each do |item| %>
          <li>
            <%= item.name %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h1> You have no items </h1>
    <% end %>
  </div>

    <%= link_to new_item_path do %>
      <i class="fa-solid fa-circle-plus hover:text-blue-500 text-7xl" aria-hidden="true"></i>
    <% end %>

</div>
